.signImg {
    width: 100%;
    max-width: 500px;
}

.sign-heading {
    font-family: Lora-Bold;
    font-size: 24px;
    color: var(--secondary-text);
}

.sign-right {
    padding: 10%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sign-bottom div {
    font-family: Lato-Medium;
    font-size: 14px;
    color: var(--primary-text);
}

.check-box {
    display: flex;
    align-items: center;
    font-family: Lato-Regular;
    font-size: 14px;
    color: red;
}

.sign-bottom-text {
    text-align: center;
    font-family: Lato-Regular;
    color: var(--text);
    font-size: 14px;
}

.sign-bottom-text span {
    text-align: center;
    font-family: Lato-Bold;
    color: var(--primary-text);
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .sign-right {
        padding: 0%;
        gap: 15px;
    }
}