.h-hero {
    padding: 3% 0px;
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.h-subHeading {
    font-family: Lato-Medium;
    font-size: 18px;
    color: var(--accent-text);
    text-align: center;
}

.h-heading {
    font-family: Lora-Bold;
    font-size: 48px;
    color: var(--accent-text);
    text-align: center;
}


.h-heading span {
    font-family: Lora-Bold;
    font-size: 48px;
    color: var(--primary-text);
}

.h-text {
    font-family: Lato-Medium;
    font-size: 14px;
    color: var(--accent-text);
    text-align: center;
    padding: 0px 25%;
    line-height: 20px;
}

.h-btns {
    display: flex;
    gap: 20px
}

/* sec 3  */

.home-card3 {
    text-align: center;
    padding: 0px 20%;
}

.home-card3-imgBox {
    width: 100%;
    padding-top: 100%;
    background-color: lightgray;
    position: relative;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-card3-type {
    font-family: Lora-Medium;
    font-size: 16px;
    color: var(--secondary-text);
    margin-top: 20px;
}

.home-card3-description {
    font-family: Lato-Regular;
    font-size: 14px;
    color: var(--text);
    margin-top: 10px;
}





@media screen and (max-width:699px) {
    .h-hero {
        padding: 30px;
    }

    .h-subHeading {
        font-size: 20px;
    }

    .h-heading {
        font-size: 50px;
    }

    .h-heading span {
        font-size: 50px;
    }

    .h-text {
        padding: 0px 2%;
        font-size: 16px;
        line-height: 22px;
    }

    .h-btns {
        flex-direction: column;
        gap: 10px;
    }
}