/* content styling */

.card-Item {
    border: 1px solid #4DAD49;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    border-radius: 20px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 50px;
}

.card-item-status {
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 8px 15px;
    font-family: Lato-Regular;
    font-size: 12px;
    margin: 20px;
}

.card-house-sold {
    position: absolute;
    background-color: red;
    right: -6px;
    top: -6px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    color: white;
    font-family: Lato-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}

.card-house-new {
    position: absolute;
    background-color: var(--primary-text);
    right: -6px;
    top: -6px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    color: white;
    font-family: Lato-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}

.card-item-statsBox {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: -30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.sldier1-stats-left {
    padding: 10px;
    border-right: 1px solid lightgray;

}

.sldier1-stats-right {
    padding: 10px;

}

.sldier1-item-contents {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}

.card-stats-label {
    font-family: Lora-Regular;
    font-size: 12px;
    color: var(--secondary-text);
}

.card-stats-figure {
    font-family: Lato-Bold;
    color: var(--primary-text);
    font-size: 14px;
    line-height: 22px;
}

.card-item1-heading {
    font-family: Lora-Bold;
    font-size: 20;
    color: var(--secondary-text);
}

.card-item-price {
    font-size: Lato-Bold;
    font-size: 18px;
    color: var(--primary-text);
}

.card-item-specs {
    font-family: Lato-Bold;
    font-size: 14px;
    color: var(--secondary-text);
}

.card-item-lcation {
    font-family: Lato-Bold;
    font-size: 14px;
    color: var(--primary-text);
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-item-lcation img {
    width: 18px;
}