.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF0F2;
    width: 100%;
    min-width: 100px;
    height: 45px;
    padding: 0px 20px;
    border-radius: 50px;
    /* margin-bottom: 10px; */
}

.leftBox {
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
}

input {
    outline: none;
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: black
}

input::placeholder {
    color: gray;
    font-family: Lato-Regular, 'Courier New', Courier, monospace;
    font-size: 14px;
}

.inputField-label {
    font-family: Lato-Medium;
    color: #4D5959;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 7px;
}


@media (max-width: 699px) {
    .inputBox {
        height: 45px;
    }



}