.add-property-sec-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 1200px;
    margin: 0px auto;
}

.add-property-types {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px auto;
    margin-bottom: 10px;
}

.add-property-type {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border-radius: 50px;
    background-color: #EFF0F2;
    border: 1px solid #EFF0F2;
    font-family: Lato-Medium;
    color: #4D5959;
    font-size: 14px;
    cursor: pointer;
}

.add-property-type-active {
    background-color: rgba(77, 173, 73, 0.04);
    border: 1px solid #4DAD49;
}

.add-property-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.add-property-box-inner {
    flex: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0px 20px;
}

.add-property-box img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.custom-select1-option {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.custom-select1-option:hover {
    background-color: #f0f0f0;
    /* Optional light hover effect */
}

/* Style for the checkbox */
.custom-select1-option input[type="checkbox"] {
    accent-color: #4DAD49;
    /* Green checkbox color */
    width: 16px;
    height: 16px;
    margin: 0;
}

/* Keeps background white, no color changes for selection */
.custom-select1-option input[type="checkbox"]:checked {
    background-color: #4DAD49;
    /* Green checkbox */
}

.addProperty-tbd {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    /* justify-content: center; */
}