.user-p-subHeading {
    font-family: Lato-Medium;
    font-size: 14px;
    color: var(--text);
}

.user-p-stats-item {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
}

.user-p-stats-figures {
    font-family: Lora-SemiBold;
    font-size: 20px;
    color: var(--primary-text);
}

.user-p-stats-label-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3px;
}

.user-p-stats-circle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
}

.user-p-stats-label {
    font-family: Lato-Medium;
    font-size: 18px;
    color: var(--text);
}

.up-Profile-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.up-center {
    position: relative;

}

.up-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}


.up-upload-icon {
    position: absolute;
    bottom: 20px;
    right: 0px;
    color: green;
    cursor: pointer;
}