* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.nb-email {
    min-height: 50px;
    background-color: var(--primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Lato-Regular;
    color: white;
}

.nb-email span {
    font-family: Lato-Bold;
    font-size: 12px;
    color: white;
    padding: 8px 15px;
    background-color: var(--primary-bg);
    cursor: pointer;
    margin-left: 5px;
    border-radius: 20px;
}

.navBar {
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2%;
    height: 70px;
    z-index: 1111;
}

.logo-nb {
    cursor: pointer;
    font-family: Lato-SemiBold;
    color: var(--accent-text);
    font-size: 24px;
}

.logo-nb span {
    color: var(--primary-text);
    font-size: 24px;
}

.faq-nb {
    width: 30px;
    cursor: pointer;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 15px;
}

.link-nb {
    color: var(--primary-text);
    font-size: 16px;
    font-family: Lora-Regular;
    cursor: pointer;
}

.link-nb:hover {
    color: var(--primary-text);
    transition: 0.5s ease;
}


.link-nb1 {
    font-size: 16px;
    color: var(--accent-text);
    cursor: pointer;
    font-family: Lora-Regular;
}

.link-nb1:hover {
    color: var(--primary-text);
    transition: 0.5s ease;
}


.icon {
    display: none;
}

.navBtn {
    padding: 8px 20px;
    font-family: Poppins-SemiBold;
    background-color: var(--accent-bg);
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.navBtn:hover {
    opacity: 0.8;
    transition: 0.5s ease;
}



.nb-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.nb-profile-name {
    font-size: 10px;
    color: white;
    font-family: Lato-SemiBold;
}

.nb-profile-popup {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 120px;
    z-index: 1000;
    padding: 10px;
    text-align: left;
}

.nb-popup-option {
    padding: 3px;
    cursor: pointer;
    font-size: 12px;
    font-family: Lato-Regular;
    transition: background-color 0.3s ease;
}

.nb-popup-option:hover {
    background-color: #f0f0f0;
    /* Change to the hover color you prefer */
}


@media screen and (max-width:900px) {

    .navBar {
        height: 60px;
    }

    .navLinks {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        z-index: 88;
        top: 0px;
        right: -300px;
        width: 250px;
        height: 100vh;
        background-color: var(--secondary-bg);
        /* background-color: white; */
        transition: 1s ease;
        padding-left: 30px;
        padding-top: 30px;
    }

    .active {
        right: 0px;
    }


}

@media screen and (max-width:600px) {

    .link {
        line-height: 50px;
        color: white;
    }

    .icon {
        display: block;
    }

    .logo-nb {
        font-size: 14px;
    }

    .logo-nb span {
        font-size: 14px;
    }

    .nb-profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    .nb-profile-name {
        font-size: 14px;
        color: white;
        font-family: Lato-SemiBold;
    }
}