.pd-padding{
    padding: 5%;
    padding-bottom: 0%;
}

.pd-header{
    display: flex;
    justify-content: space-between;
}

.pd-header-right{
    display: flex;
    gap: 20px;
}

@media screen and (max-width:700px) {
    .pd-header{
        flex-direction: column;
    }

    .pd-header-right{
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
    }
}