/* section 8  */
.slider1-upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.slick-slide>div {
    margin: 0px 30px;
}

/* content styling */

.slider1-Item{
    border: 1px solid #4DAD49;
    border-radius: 20px;
    padding: 10px;
}

.slider1-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    border-radius: 20px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 50px;
}

.slider1-item-status{
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 8px 15px;
    font-family: Lato-Regular;
    font-size: 14px;  
    margin: 20px;

}

.slider1-item-statsBox{
    position: absolute;
    width: 80%;
    left:10%;
    bottom: -30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.sldier1-stats-left{
    padding: 10px;
    border-right: 1px solid lightgray;

}

.sldier1-stats-right{
    padding: 10px;
    
}

.sldier1-item-contents{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}

.slider1-stats-label{
    font-family: Lora-Regular;
    font-size: 14px;
    color: var(--secondary-text);
}

.slider1-stats-figure{
    font-family: Lato-Bold;
    color: var(--primary-text);
    font-size: 16px;
}

.slider1-item1-heading{
    font-family: Lora-Bold;
    font-size: 20;
    color: var(--secondary-text);
}

.slider1-item-price{
    font-size: Lato-Bold;
    font-size: 20px;
    color: var(--primary-text);
}

.slider1-item-specs{
    font-family: Lato-Bold;
    font-size: 14px;
    color: var(--secondary-text);
}

.slider1-item-lcation{
    font-family: Lato-Bold;
    font-size: 14px;
    color: var(--primary-text);
    display: flex;
    align-items: center;
    gap:5px;
}

.slider1-item-lcation img{
    width: 18px;
}









/* navigation  */

.slider1-navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    /* margin-left: 5%; */
    z-index: 5;
    /* position: absolute; */
}

.slider1-navigation img {
    width: 50px;
    cursor: pointer;
}

.slider1-navigation img:hover {
    opacity: 0.9;
}

.slick-slider1 {
    background: white;
    /* margin: 0px -2%; */
}

.card-marginT {
    margin-top: 30px;
}

@media screen and (max-width:700px) {
    .slider1-upper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}
}





