/* section 8  */
.slider1-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.slick-slide>div {
    margin: 0px 10px;
    padding: 5px 0px;
}

/* navigation  */

.slider1-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-left: 5%; */
    z-index: 5;
    /* position: absolute; */
}

.slider1-navigation img {
    width: 40px;
    cursor: pointer;
}

.slider1-navigation img:hover {
    opacity: 0.9;
}

.slick-slider1 {
    background: white;
    /* margin: 0px -2%; */
}

.card-marginT {
    margin-top: 30px;
}

.slider1 {
    position: relative;
    padding: 0px 40px;
}

.slider1-prev,
.slider1-next {
    width: 30px;
}

.slider1-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
}

.slider1-next {
    position: absolute;
    top: 50%;
    right: 10px;
}

@media screen and (max-width:700px) {
    .slider1-upper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .slick-slide>div {
        margin: 0px;
        padding: 5px 0px;
    }

    .slider1 {
        position: relative;
        padding: 0px 35px;
    }

    .slider1-prev,
    .slider1-next {
        width: 20px;
    }

}